main {
  display: flex;
}

#container {
  padding: 20px;
  width: 900px;
}

span {
  font-weight: 300;
}

#book {
  display: flex;
  height: 600px;
  width: 100%;
}

#book-info {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.full {
  width: 100%;
}

#review-container {
  margin-top: 40px;
  width: 100%;
  border: 2px dotted gainsboro;
}

.review {
  display: flex;
  align-items: center;
  padding: 20px;
}

.photo-container {
  width: 10%;
}

.photo {
  margin: 10px;
  border: 1px solid black;
  width: 60px;
  height: 60px;
}

.comment {
  width: 80%;
}

#review-text {
  text-align: center;
}

.line {
  height: 1200px;
  width: 1px;
  background-color: black;
}

#album-container {
  background-color: black;
  padding: 20px;
  width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#album-container h1 {
  margin-bottom: 10px;
  color: white;
  font-size: 80px;
}

.members {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}

.members div {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 14px;
}

#albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.albums-list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

li img {
  width: 120px;
}

li div {
  color: white;
  text-align: center;
}

#tool-logo {
  margin-bottom: 100px;
  width: 400px;
}